.card__like-icon {
  background-image: url("../../../images/like.svg");
  width: 32px;
  height: 19px;
  background-color: unset;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  transition: opacity 0.25s ease-in-out;
  cursor: pointer;
  margin-bottom: 5px;
}

.card__like-icon:hover {
  opacity: 50%;
  transition: opacity 0.25s ease-in-out;
}
