.profile {
  width: 100%;
  padding: 40px 0 50px;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  align-items: center;
  gap: 30px;
}

@media screen and (max-width: 700px) {
  .profile {
    grid-template-columns: auto;
    grid-template-rows: repeat(3, max-content);
    justify-items: center;
    padding-bottom: 39px;
  }
}
