.header {
  background-color: #000;
  padding-bottom: 41px;
  padding-top: 45px;
  border-bottom: 1px solid #545454;
  box-sizing: border-box;
  width: 100%;
}

@media screen and (max-width: 900px) {
  .header {
    padding: 27px 0px 31px 27px;
  }
}
