.element__like-icon {
  background-image: url("../../../images/like.svg");
  width: 32px;
  height: 19px;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  transition: opacity 0.25s ease-in-out;
}

.element__like-icon:hover {
  opacity: 50%;
  transition: opacity 0.25s ease-in-out;
}
