.popup__input {
  padding: 0;
  border: none;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  width: 100%;
  min-height: 27px;
  font-size: 14px;
  line-height: 17px;
  border-bottom: 1px solid rgb(0, 0, 0, 0.2);
  transition: border-bottom 0.25s ease-in-out;
}

.popup__input:focus {
  outline: none;
  border-bottom: 1px solid rgb(0, 0, 0);
  transition: border-bottom 0.25s ease-in-out;
}

